.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.footer__services-item {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding-right: 40px;
  color: #ffffff;
  margin-top: 0;

  &:hover,
  &:active,
  &:disabled {
    opacity: 0.5;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -4px;
}

.footer__icon {
  margin-right: 25px;
}

.footer__icon:hover {
  opacity: 0.3;
}

.footer__icon:active {
  opacity: 0.3;
}

.footer__icon:disabled {
  opacity: 0.5;
}

.footer__services-item:last-child {
  padding-right: 0;
}

.footer__services-list {
  display: flex;
  margin-left: 19px;
  margin-top: -7px;
}

.footer__logo {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: -2px;
  margin-right: 279px;
  padding-left: -8px;
  margin-left: -3px;
}

.footer {
  width: 100%;
  position: relative;
  z-index: 100;
  background-color: #000000;
}

.footer__container {
  display: flex;
  margin-right: 136px;
  margin-left: 47px;
}

@media (max-width: $tablet-width) {
  .footer__logo {
    font-size: 24px;
    line-height: 24px;
    margin-right: 64px;
    margin-top: -2px;
    margin-left: 122px;
  }

  .footer__container {
    margin-right: 0;
    margin-left: -100px;
  }

  .footer__services-item {
    padding-right: 30px;
    margin-top: 0;
  }

  .footer__icon {
    margin-right: 20px;
    margin-top: 4px;
  }

  .footer__social {
    margin-top: -5px;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    margin: 0;
    width: 290px;
    //align-content: flex-end;
  }

  .footer__wrapper {
    width: 320px;
    flex-direction: column;
    margin-top: 3px;
  }

  .footer__services-item {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 3px;

    &--wrap {
      padding-bottom: 18px;
    }
  }

  .footer__logo {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 18px;
    margin: 0;
  }

  .footer__social {
    width: 100%;
    justify-content: flex-start;
    margin-left: 35px;
    margin-top: -19px;
    padding-bottom: 3px;
  }

  .footer__icon {
    margin-right: 35px;

    &--vk {
      width: 32px;
      height: 17px;
    }
  }
}
