.advantages__title {
  text-align: center;
  padding-top: 75px;
  font-size: 49px;
  margin-bottom: 4px;
}

.advantages__numbers {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  line-height: 150%;
  color: blue;
  margin: 0;
}

.advantages__info {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  color: #2e35ac;
}

.advantages__header {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: #102654;
  margin-left: -24px;
  margin-top: 17px;

  &--right {
    margin-left: -21px;
    margin-top: -1px;
  }

  &--second {
    margin-left: -20px;
  }

  &--right-bottom {
    margin-top: 18px;
    margin-bottom: 8px;
  }

  &--left-bottom {
    margin-top: 38px;
    margin-left: -20px;
  }
}

.advantages__text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #102654;
  margin-left: -21px;
  margin-top: 6px;

  &--right {
    margin-left: -22px;
    margin-top: 6px;
    margin-right: 10px;
  }
}

.advantages__left-footer {
  padding-left: 0;
}


.advantages__center-numbers {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 150%;
  margin: 0;
  color: #ffffff;
  padding-top: 16px;
}

.advantages__center-info {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 150%;
  color: #ffffff;
  margin: -18px 0 0;
}

.advantages__center-text {
  width: 172px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 32px auto 0;
  padding-bottom: 37px;
}

.advantages__item {
  display: flex;
  margin-top: 34px;
  position: relative;

  &--left-element::before {
    content: "";
    position: absolute;
    border: 1px solid rgba(209, 10, 66, 0.2);
    width: 340px;
    top: -40px;
    left: 0;
  }

  &--right-element::before {
    content: "";
    position: absolute;
    border: 1px solid rgba(209, 10, 66, 0.2);
    width: 340px;
    left: 23px;
    top: -40px;
  }
}


.advantages__first-block {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: -85px;
}

.advantages__second-block {
  display: flex;
  justify-content: space-between;
  margin-top: -147px;
  padding-bottom: 122px;
}

.advantages__wrapper {
  width: 100%;
}

.advantages__top-block {
  padding-top: 21px;
  margin-left: 28px;
  margin-right: 53px;
}

.advantages__bottom-block {
  padding-top: 41px;
  margin-right: 50px;
  margin-left: 20px;
}

.advantages__right-footer {
  padding-top: 18px;
}

.advantages__center-column {
  position: relative;
  background: #003d85;
  width: 240px;
  text-align: center;
  padding: 23px 0 19px;
  margin: 0 auto;
  margin-top: 7px;
}

.advantages {
  width: 100%;
  background-color: #f8f9fc;
  //max-width: 1366px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 49px;
  margin-left: 15px;
}

.advantages__container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages__number-photo {
  width: 108px;
  height: 53px;

  &--two-num {
    width: 72px;
    height: 53px;
  }
}

@media (max-width: $tablet-width) {
  .advantages__item {
    margin: 0;

    &--left-element::before {
      display: none;
    }

    &--right-element::before {
      display: none;
    }
  }

  .advantages__header {
    font-size: 20px;
    margin-left: -22px;

    &--right-bottom {
      margin-top: 25px;
      margin-bottom: 3px;
    }

    &--left-bottom {
      margin-top: 46px;
    }
  }

  .advantages__top-block {
    padding-top: 25px;
    margin-left: 45px;
    margin-right: 52px;
  }

  .advantages__bottom-block {
    padding-top: 53px;
    margin-right: 50px;
    margin-left: 44px;
  }

  .advantages__title {
    font-size: 42px;
    line-height: 42px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .advantages__center-info {
    font-size: 22px;
    margin: 0;
    margin-top: -18px;
    margin-bottom: 12px;
  }

  .advantages__center-column {
    padding: 0 100px 0;
    margin: 129px 164px 72px;
    //margin-left: 300px;
  }

  .advantages__first-block {
    margin-top: -75px;
    z-index: 20;
    display: flex;
  }

  .advantages__second-block {
    margin-top: -75px;
    z-index: 20;
    display: flex;
  }

  .advantages__center-text {
    margin-top: 0;
    padding-bottom: 40px;
  }

  .advantages__container {
    max-width: 768px;
  }

  .advantages {
    margin-bottom: 7px;
    margin-left: 0;
  }

  .advantages__text {
    margin-top: 4px;

    &--right {
      margin-top: 1px;
      margin-right: 55px;
    }
  }

  .advantages__number-photo {
    width: 89px;
    height: 40px;

    &--two-num {
      width: 59px;
      height: 40px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages__first-block .advantages__second-block {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .advantages__item {
    flex-direction: column;
    text-align: center;

    &--bottom {
      margin-top: 2px;
    }
  }

  .advantages__header {
    margin: 0;
    margin-top: -1px;

    &--left-bottom {
      margin-top: 7px;
    }
  }

  .advantages__text {
    margin: 0;
  }

  .advantages__top-block {
    padding-right: 0;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-bottom: 9px;
  }

  .advantages__second-block {
    padding-bottom: 27px;
    flex-direction: column;
  }

  .advantages__center-column {
    padding: 0 40px;
    margin: 126px 0 73px;
    margin-bottom: 78px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 32px;
    padding-top: 47px;
    margin-bottom: 99px;
  }

  .advantages__wrapper {
    padding-bottom: 25px;
  }

  .advantages__first-block {
    flex-direction: column;
  }

  .advantages__number-photo {
    &--two-num {
      margin-top: 20px;
    }
  }

  .advantages__right-footer {
    padding-top: 0;
  }

  .advantages__bottom-block {
    padding-top: 44px;
    margin-right: 50px;
    margin-left: 49px;
  }

  .advantages__left-footer {
    margin-top: 4px;

    &--mr-bottom {
      margin-bottom: -23px;
    }
  }

  .advantages__info {
    &--mr-mobail {
      margin-bottom: 10px;
    }
  }

  .advantages {
    margin-bottom: 19px;
  }

  .advantages__container {
    max-width: 320px;
  }
}
