.reviews__title {
  text-align: center;
  margin-bottom: 54px;
  font-size: 49px;
}

.reviews__block-slide {
  width: 560px;
  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.reviews__header {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  padding-left: 174px;
  margin-top: -26px;
  color: #ffffff;
}

.reviews__text {
  width: 328px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: -49px;
  color: #ffffff;
  line-height: 144%;
  padding-left: 174px;
  padding-right: 60px;
  padding-top: 60px;
  /* height: 100%; */
}

.reviews__container .slick-list {
  background: #1c3374;
}

.reviews__icon {
  position: relative;
  top: 65px;
  left: 69px;
}

.reviews {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  margin-left: 15px;
}

.reviews__container {
  max-width: 598px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  padding-left: 60px;
  padding-right: 60px;
}

.reviews__slide {
  background-size: cover;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  width: 560px;
  left: 0;
}

.reviews__text-block {
  height: 100%;
  padding-bottom: 55px;
}

.reviews__btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  opacity: 0.3;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.reviews__arrow:hover,
.reviews__arrow:active,
.reviews__arrow:disabled,
.reviews__arrow:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  opacity: 1;
}

//.reviews__next {
//  right: -44px;
//  top: -172px;
//
//  &::before {
//    content: "";
//    width: 20px;
//    height: 1px;
//    margin-top: 31px;
//    margin-left: -1px;
//    background-color: black;
//    position: absolute;
//    transform: rotate(-45deg);
//  }
//
//  &::after {
//    content: "";
//    width: 20px;
//    height: 1px;
//    margin-top: 16px;
//    margin-left: 0;
//    background-color: black;
//    position: absolute;
//    transform: rotate(45deg);
//  }
//}
//
//.reviews__prev {
//  left: -62px;
//  top: -171px;
//
//  &::before {
//    content: "";
//    width: 20px;
//    height: 1px;
//    margin-top: 31px;
//    margin-left: -1px;
//    background-color: black;
//    position: absolute;
//    transform: rotate(45deg);
//  }
//
//  &::after {
//    content: "";
//    width: 20px;
//    height: 1px;
//    margin-top: 16px;
//    margin-left: 0;
//    background-color: black;
//    position: absolute;
//    transform: rotate(-45deg);
//  }
//}


//.reviews__arrows {
//  position: relative;
//  margin: 0 auto;
//  width: 600px;
//}

//.reviews__arrow {
//  position: absolute;
//  cursor: pointer;
//  width: 50px;
//  height: 50px;
//  opacity: 0.5;
//}

.reviews__container .slick-arrow {
  position: relative;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.reviews__container .slick-arrow.slick-prev {
  left: -38px;
  top: 102px;
  background: url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.reviews__container .slick-arrow.slick-next {
  right: -40px;
  top: 105px;
  background: url("../img/icon-right.svg");
  background-repeat: no-repeat;
}

.reviews__container .slick-slide {
  height: 100%;
}

//.reviews__slide {
//  margin-right: 50px;
//}


@media (max-width: $tablet-width) {
  .reviews__title {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 38px;
    margin-top: 42px;
    margin-left: 0;
  }

  .reviews__header {
    padding-left: 174px;
  }

  .reviews__container .slick-arrow.slick-next {
    right: -38px;
    top: 105px;
  }

  .reviews__container .slick-arrow.slick-prev {
    left: -39px;
    top: 106px;
  }

  .reviews__text {
    padding-right: 64px;
    padding-left: 173px;
  }

  .reviews {
    margin-bottom: 79px;
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .reviews__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .reviews__arrow {
    position: relative;
  }

  .reviews__container {
    width: 100%;
    max-width: 266px;
    padding: 0 20px;
  }

  .reviews__text {
    text-align: center;
    width: 176px;
    line-height: 140%;
    padding: 0 55px 32px 23px;
  }

  .reviews__header {
    width: 62px;
    padding-left: 56px;
    margin-top: -22px;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 74px;
  }

  .reviews__icon { //временно
    top: 42px;
    left: 53px;
    width: 68px;
    height: 68px;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 32px;
    margin-top: 28px;
  }

  .reviews {
    margin-bottom: 54px;
  }

  .reviews__slide {
    width: 226px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .slick-slide {
    width: 226px;
  }

  .reviews__container .slick-arrow.slick-next {
    right: -20px;
    top: 157px;
    background: url("../img/right-arrow-mobail.svg");
    background-repeat: no-repeat;
  }

  .reviews__container .slick-arrow.slick-prev {
    left: -11px;
    top: 158px;
    background: url("../img/left-arrow-mobail.svg");
    background-repeat: no-repeat;
  }
}
